In [32]:
import pandas as pd

In [33]:
import numpy as np

In [37]:
df=pd.read_excel("HIV1.xlsx")

In [39]:
df.head()

                    Number of new HIV infections  \
WHO region Year
Global     2019  1 700 000 [1 200 000–2 200 000]
           2018  1 700 000 [1 200 000–2 300 000]
           2017  1 800 000 [1 300 000–2 400 000]
           2016  1 800 000 [1 300 000–2 400 000]

                New HIV infections (per 1000 uninfected population)  \
WHO region Year                                         Both sexes
Global     2019                                    0.22 [0.16–0.3]
           2018                                   0.23 [0.17–0.31]
           2017                                   0.24 [0.18–0.32]
           2016                                   0.25 [0.18–0.34]

                New HIV infections (per 1000 uninfected population).1  \
WHO region Year                                               Male
Global     2019                                   0.23 [0.17–0.32]
           2018                                   0.24 [0.17–0.33]
           2017                                   0.24 [0.18–0.34]
           2016                                   0.25 [0.18–0.35]

                New HIV infections (per 1000 uninfected population).2
WHO region Year                                             Female
Global     2019                                   0.21 [0.16-0.29]
           2018                                    0.22 [0.16-0.3]
           2017                                   0.23 [0.17-0.32]
           2016                                   0.24 [0.18-0.33]

In [40]:
df['Number of new HIV infections'] = df['Number of new HIV infections'].str.replace(r"\[.*\]","")

In [41]:
df['New HIV infections (per 1000 uninfected population)'] = df['New HIV infections (per 1000 uninfected population)'].str.replace(r"\[.*\]","")

In [42]:
df['New HIV infections (per 1000 uninfected population).1'] = df['New HIV infections (per 1000 uninfected population).1'].str.replace(r"\[.*\]","")

In [43]:
df['New HIV infections (per 1000 uninfected population).2'] = df['New HIV infections (per 1000 uninfected population).2'].str.replace(r"\[.*\]","")

In [44]:
df.head()

                Number of new HIV infections  \
WHO region Year
Global     2019                   1 700 000
           2018                   1 700 000
           2017                   1 800 000
           2016                   1 800 000

                New HIV infections (per 1000 uninfected population)  \
WHO region Year                                         Both sexes
Global     2019                                              0.22
           2018                                              0.23
           2017                                              0.24
           2016                                              0.25

                New HIV infections (per 1000 uninfected population).1  \
WHO region Year                                               Male
Global     2019                                              0.23
           2018                                              0.24
           2017                                              0.24
           2016                                              0.25

                New HIV infections (per 1000 uninfected population).2
WHO region Year                                             Female
Global     2019                                              0.21
           2018                                              0.22
           2017                                              0.23
           2016                                              0.24

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 211 entries, (WHO region, Year) to (Western Pacific, 1990)
Data columns (total 4 columns):
Number of new HIV infections                             211 non-null object
New HIV infections (per 1000 uninfected population)      211 non-null object
New HIV infections (per 1000 uninfected population).1    211 non-null object
New HIV infections (per 1000 uninfected population).2    211 non-null object
dtypes: object(4)
memory usage: 7.7+ KB

In [61]:
df['Number of new HIV infections']=df['Number of new HIV infections'].str.replace(" ","")

In [62]:
df.head()

                Number of new HIV infections  \
WHO region Year
Global     2019                      1700000
           2018                      1700000
           2017                      1800000
           2016                      1800000

                New HIV infections (per 1000 uninfected population)  \
WHO region Year                                         Both sexes
Global     2019                                              0.22
           2018                                              0.23
           2017                                              0.24
           2016                                              0.25

                New HIV infections (per 1000 uninfected population).1  \
WHO region Year                                               Male
Global     2019                                              0.23
           2018                                              0.24
           2017                                              0.24
           2016                                              0.25

                New HIV infections (per 1000 uninfected population).2
WHO region Year                                             Female
Global     2019                                              0.21
           2018                                              0.22
           2017                                              0.23
           2016                                              0.24

In [66]:
df["Number of new HIV infections"] = pd.to_numeric(df["Number of new HIV infections"], downcast="float")

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 211 entries, (WHO region, Year) to (Western Pacific, 1990)
Data columns (total 4 columns):
Number of new HIV infections                             210 non-null float32
New HIV infections (per 1000 uninfected population)      211 non-null object
New HIV infections (per 1000 uninfected population).1    211 non-null object
New HIV infections (per 1000 uninfected population).2    211 non-null object
dtypes: float32(1), object(3)
memory usage: 6.8+ KB

In [69]:
df2=pd.read_excel("HIV2.xlsx")

In [70]:
df2

              REGION  YEAR PEOPLE HAVING HIV
0             Global  2019       38 000 000
1             Global  2018        37 300 000
2             Global  2017        36 500 000
3             Global  2016        35 700 000
4             Global  2015       34 900 000
5             Global  2014       34 100 000
6             Global  2013       33 200 000
7             Global  2012       32 400 000
8             Global  2011       31 600 000
9             Global  2010       30 700 000
10            Global  2009       29 900 000
11            Global  2008       29 100 000
12            Global  2007        28 400 000
13            Global  2006       27 800 000
14            Global  2005       27 300 000
15            Global  2004       26 800 000
16            Global  2003        26 300 000
17            Global  2002       25 700 000
18            Global  2001        24 900 000
19            Global  2000       24 000 000
20            Global  1999       22 800 000
21            Global  1998       21 500 000
22            Global  1997       20 100 000
23            Global  1996       18 500 000
24            Global  1995        16 800 000
25            Global  1994        15 000 000
26            Global  1993        13 100 000
27            Global  1992       11 300 000
28            Global  1991        9 400 000
29            Global  1990        7 700 000
..               ...   ...               ...
180  Western Pacific  2019         1 900 000
181  Western Pacific  2018        1 900 000
182  Western Pacific  2017        1 800 000
183  Western Pacific  2016        1 700 000
184  Western Pacific  2015        1 700 000
185  Western Pacific  2014         1 600 000
186  Western Pacific  2013        1 600 000
187  Western Pacific  2012         1 500 000
188  Western Pacific  2011         1 500 000
189  Western Pacific  2010         1 400 000
190  Western Pacific  2009        1 400 000
191  Western Pacific  2008         1 400 000
192  Western Pacific  2007        1 300 000
193  Western Pacific  2006        1 300 000
194  Western Pacific  2005        1 200 000
195  Western Pacific  2004         1 200 000
196  Western Pacific  2003         1 100 000
197  Western Pacific  2002        1 100 000
198  Western Pacific  2001           980 000
199  Western Pacific  2000           910 000
200  Western Pacific  1999           820 000
201  Western Pacific  1998          730 000
202  Western Pacific  1997          640 000
203  Western Pacific  1996           540 000
204  Western Pacific  1995          440 000
205  Western Pacific  1994          320 000
206  Western Pacific  1993          200 000
207  Western Pacific  1992          150 000
208  Western Pacific  1991           120 000
209  Western Pacific  1990           90 000

[210 rows x 3 columns]

In [72]:
df2['PEOPLE HAVING HIV']=df2['PEOPLE HAVING HIV'].str.replace(" ","")

In [73]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
REGION               210 non-null object
YEAR                 210 non-null int64
PEOPLE HAVING HIV    210 non-null object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [75]:
df2["PEOPLE HAVING HIV"] = pd.to_numeric(df2["PEOPLE HAVING HIV"], downcast="float")

In [76]:
df2.head()

   REGION  YEAR  PEOPLE HAVING HIV
0  Global  2019         38000000.0
1  Global  2018         37300000.0
2  Global  2017         36500000.0
3  Global  2016         35700000.0
4  Global  2015         34900000.0

In [97]:
df3=pd.read_excel("HIV.xlsx")

In [98]:
df3

          WHO region  Year Number of deaths due to HIV/AIDS
0             Global  2019        690 000 [500 000–970 000]
1             Global  2018      730 000 [530 000–1 000 000]
2             Global  2017      760 000 [550 000–1 100 000]
3             Global  2016      800 000 [580 000–1 100 000]
4             Global  2015      830 000 [610 000–1 200 000]
5             Global  2014      870 000 [640 000–1 200 000]
6             Global  2013      930 000 [680 000–1 300 000]
7             Global  2012    1 000 000 [730 000–1 400 000]
8             Global  2011    1 100 000 [780 000–1 500 000]
9             Global  2010    1 100 000 [830 000–1 600 000]
10            Global  2009    1 200 000 [890 000–1 700 000]
11            Global  2008    1 400 000 [980 000–1 900 000]
12            Global  2007  1 500 000 [1 100 000–2 100 000]
13            Global  2006  1 600 000 [1 200 000–2 300 000]
14            Global  2005  1 700 000 [1 200 000–2 400 000]
15            Global  2004  1 700 000 [1 200 000–2 400 000]
16            Global  2003  1 700 000 [1 200 000–2 400 000]
17            Global  2002  1 600 000 [1 200 000–2 200 000]
18            Global  2001  1 500 000 [1 100 000–2 100 000]
19            Global  2000  1 400 000 [1 000 000–2 000 000]
20            Global  1999    1 300 000 [920 000–1 800 000]
21            Global  1998    1 200 000 [830 000–1 600 000]
22            Global  1997    1 000 000 [750 000–1 400 000]
23            Global  1996      940 000 [670 000–1 300 000]
24            Global  1995      830 000 [590 000–1 100 000]
25            Global  1994        700 000 [500 000–970 000]
26            Global  1993        580 000 [420 000–810 000]
27            Global  1992        480 000 [340 000–660 000]
28            Global  1991        380 000 [270 000–530 000]
29            Global  1990        300 000 [210 000–410 000]
..               ...   ...                              ...
180  Western Pacific  2019           41 000 [22 000–70 000]
181  Western Pacific  2018           42 000 [22 000–72 000]
182  Western Pacific  2017           44 000 [23 000–75 000]
183  Western Pacific  2016           45 000 [24 000–78 000]
184  Western Pacific  2015           49 000 [26 000–84 000]
185  Western Pacific  2014           52 000 [28 000–88 000]
186  Western Pacific  2013           55 000 [29 000–94 000]
187  Western Pacific  2012          59 000 [31 000–100 000]
188  Western Pacific  2011          63 000 [34 000–110 000]
189  Western Pacific  2010          64 000 [34 000–110 000]
190  Western Pacific  2009          64 000 [34 000–110 000]
191  Western Pacific  2008          65 000 [34 000–110 000]
192  Western Pacific  2007          64 000 [34 000–110 000]
193  Western Pacific  2006          65 000 [35 000–110 000]
194  Western Pacific  2005          65 000 [35 000–110 000]
195  Western Pacific  2004          61 000 [32 000–100 000]
196  Western Pacific  2003           57 000 [30 000–97 000]
197  Western Pacific  2002           52 000 [28 000–89 000]
198  Western Pacific  2001           45 000 [24 000–78 000]
199  Western Pacific  2000           38 000 [21 000–66 000]
200  Western Pacific  1999           32 000 [17 000–54 000]
201  Western Pacific  1998           25 000 [14 000–44 000]
202  Western Pacific  1997           20 000 [11 000–34 000]
203  Western Pacific  1996             16 000 [8400–27 000]
204  Western Pacific  1995             12 000 [6200–20 000]
205  Western Pacific  1994               7700 [4100–13 000]
206  Western Pacific  1993                 5500 [2900–9500]
207  Western Pacific  1992                 4000 [2100–6800]
208  Western Pacific  1991                 2900 [1600–5000]
209  Western Pacific  1990                 2100 [1100–3600]

[210 rows x 3 columns]

In [99]:
df3['Number of deaths due to HIV/AIDS']=df3['Number of deaths due to HIV/AIDS'].str.replace(r"\[.*\]","")

In [100]:
df3.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019                         690 000
1     Global  2018                         730 000
2     Global  2017                         760 000
3     Global  2016                         800 000
4     Global  2015                         830 000

In [101]:
df3.tail(31)

                WHO region  Year Number of deaths due to HIV/AIDS
179  Eastern Mediterranean  1990                         &lt;500
180        Western Pacific  2019                          41 000
181        Western Pacific  2018                          42 000
182        Western Pacific  2017                          44 000
183        Western Pacific  2016                          45 000
184        Western Pacific  2015                          49 000
185        Western Pacific  2014                          52 000
186        Western Pacific  2013                          55 000
187        Western Pacific  2012                          59 000
188        Western Pacific  2011                          63 000
189        Western Pacific  2010                          64 000
190        Western Pacific  2009                          64 000
191        Western Pacific  2008                          65 000
192        Western Pacific  2007                          64 000
193        Western Pacific  2006                          65 000
194        Western Pacific  2005                          65 000
195        Western Pacific  2004                          61 000
196        Western Pacific  2003                          57 000
197        Western Pacific  2002                          52 000
198        Western Pacific  2001                          45 000
199        Western Pacific  2000                          38 000
200        Western Pacific  1999                          32 000
201        Western Pacific  1998                          25 000
202        Western Pacific  1997                          20 000
203        Western Pacific  1996                          16 000
204        Western Pacific  1995                          12 000
205        Western Pacific  1994                            7700
206        Western Pacific  1993                            5500
207        Western Pacific  1992                            4000
208        Western Pacific  1991                            2900
209        Western Pacific  1990                            2100

In [102]:
df3['Number of deaths due to HIV/AIDS']=df3['Number of deaths due to HIV/AIDS'].str.replace(" ","")

In [103]:
df3.tail(31)

                WHO region  Year Number of deaths due to HIV/AIDS
179  Eastern Mediterranean  1990                          &lt;500
180        Western Pacific  2019                            41000
181        Western Pacific  2018                            42000
182        Western Pacific  2017                            44000
183        Western Pacific  2016                            45000
184        Western Pacific  2015                            49000
185        Western Pacific  2014                            52000
186        Western Pacific  2013                            55000
187        Western Pacific  2012                            59000
188        Western Pacific  2011                            63000
189        Western Pacific  2010                            64000
190        Western Pacific  2009                            64000
191        Western Pacific  2008                            65000
192        Western Pacific  2007                            64000
193        Western Pacific  2006                            65000
194        Western Pacific  2005                            65000
195        Western Pacific  2004                            61000
196        Western Pacific  2003                            57000
197        Western Pacific  2002                            52000
198        Western Pacific  2001                            45000
199        Western Pacific  2000                            38000
200        Western Pacific  1999                            32000
201        Western Pacific  1998                            25000
202        Western Pacific  1997                            20000
203        Western Pacific  1996                            16000
204        Western Pacific  1995                            12000
205        Western Pacific  1994                             7700
206        Western Pacific  1993                             5500
207        Western Pacific  1992                             4000
208        Western Pacific  1991                             2900
209        Western Pacific  1990                             2100

In [105]:
df3['Number of deaths due to HIV/AIDS']=df3['Number of deaths due to HIV/AIDS'].str.replace('&lt;','')

In [106]:
df3.tail(31)

                WHO region  Year Number of deaths due to HIV/AIDS
179  Eastern Mediterranean  1990                              500
180        Western Pacific  2019                            41000
181        Western Pacific  2018                            42000
182        Western Pacific  2017                            44000
183        Western Pacific  2016                            45000
184        Western Pacific  2015                            49000
185        Western Pacific  2014                            52000
186        Western Pacific  2013                            55000
187        Western Pacific  2012                            59000
188        Western Pacific  2011                            63000
189        Western Pacific  2010                            64000
190        Western Pacific  2009                            64000
191        Western Pacific  2008                            65000
192        Western Pacific  2007                            64000
193        Western Pacific  2006                            65000
194        Western Pacific  2005                            65000
195        Western Pacific  2004                            61000
196        Western Pacific  2003                            57000
197        Western Pacific  2002                            52000
198        Western Pacific  2001                            45000
199        Western Pacific  2000                            38000
200        Western Pacific  1999                            32000
201        Western Pacific  1998                            25000
202        Western Pacific  1997                            20000
203        Western Pacific  1996                            16000
204        Western Pacific  1995                            12000
205        Western Pacific  1994                             7700
206        Western Pacific  1993                             5500
207        Western Pacific  1992                             4000
208        Western Pacific  1991                             2900
209        Western Pacific  1990                             2100

In [108]:
df3["Number of deaths due to HIV/AIDS"] = pd.to_numeric(df3["Number of deaths due to HIV/AIDS"], downcast="float")

In [109]:
df3.head()

  WHO region  Year  Number of deaths due to HIV/AIDS
0     Global  2019                          690000.0
1     Global  2018                          730000.0
2     Global  2017                          760000.0
3     Global  2016                          800000.0
4     Global  2015                          830000.0

In [110]:
df.head()

                 Number of new HIV infections  \
WHO region Year                           NaN
Global     2019                     1700000.0
           2018                     1700000.0
           2017                     1800000.0
           2016                     1800000.0

                New HIV infections (per 1000 uninfected population)  \
WHO region Year                                         Both sexes
Global     2019                                              0.22
           2018                                              0.23
           2017                                              0.24
           2016                                              0.25

                New HIV infections (per 1000 uninfected population).1  \
WHO region Year                                               Male
Global     2019                                              0.23
           2018                                              0.24
           2017                                              0.24
           2016                                              0.25

                New HIV infections (per 1000 uninfected population).2
WHO region Year                                             Female
Global     2019                                              0.21
           2018                                              0.22
           2017                                              0.23
           2016                                              0.24

In [113]:
writer=pd.ExcelWriter("multiple.xlsx",engine="xlsxwriter")

In [114]:
df.to_excel(writer, sheet_name='Sheeta')

In [115]:
df3.to_excel(writer, sheet_name='Sheetb')

In [116]:
df2.to_excel(writer,sheet_name='sheetc')

In [117]:
writer.save()